@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #1a1d2d;
$secondary: #717dc1;

body {
  @apply bg-slate-900 text-white text-sm;
  font-family: 'Roboto', sans-serif;
}

.input {
  @apply mt-1 block w-full pl-10 pr-3 py-3 bg-slate-900 border-2 border-[#424867] rounded-xl text-sm shadow-md placeholder-[#DCDEF380]
  focus:outline-none focus:border-[#2563EBCC] focus:ring-1 focus:ring-[#2563EBCC]
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-red-500 invalid:text-red-600
  focus:invalid:border-red-500 focus:invalid:ring-red-500;
}
